{% load static %}
<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="{% static "img/icon_test.png" %}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="{% url "profils" %}" class="d-block">{{user.username}}</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item has-treeview">
        <a href="{% url "index" %}" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Tableau de bord
          </p>
        </a>
      </li>
      
      <li class="nav-header">PROJETS</li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon fa fa-tasks"></i>
          <p>
            Projets
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url "create_projet" %}" class="nav-link">
              <i class="far fa-circle fa fa-plus-circle"></i>
              <p>Creer un projet</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url "projet" %}" class="nav-link">
              <i class="far fa-circle fa fa-list"></i>
              <p>Liste des projets</p>
            </a>
          </li>
        </ul>
      </li>
      {% if user.is_gestion %}
        <li class="nav-header">SYNTHÈSE</li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
              Synthèse
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="{% url "globale_generale" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Générale</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url "globale_planification" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Planification</p>
              </a>
            </li>
  
            <li class="nav-item">
              <a href="{% url "globale_suivi" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Suivi</p>
              </a>
            </li>
          </ul>
        </li>
      {% elif user.is_user %}
      <span></span>
      {% else %}
      <span></span>
      {% endif %}
      
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>

{% block js %}
<script>

</script>

{% endblock js %}

