{% extends "base.html" %}{% load static %}
<div class="wrapper">
  {% block header %}
  <div class="content-header">
    <div class="container-fluid">
      
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Ajoutez suivie des activitées</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Acceuil</li>
            <li class="breadcrumb-item"><a href="#">enregistrement</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  {% endblock header %} {% block mainContent %}
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="card-body p-0">
          <h5 id="formHelp" class="form-text text-muted text-center">
            Veuillez remplir tout les champs avant de cliquer sur "suivant"
          </h5>
          <form id="signUpForm" action="{% url "ajouter_suivi" projet_id=projet.id %}" method="POST">
            {% csrf_token %}
            <!-- start step indicators -->
            <h4 class="form-text text-muted text-center">FORMULAIRE SUIVI DES ACTIVITÉS</h4>
            
            <div class="form-header d-flex mb-4">
              <span class="stepIndicator">1</span> 
            </div>
            <!-- end step indicators -->

            <!-- FORMULAIRE PLANIFICATION OPERATIONNELLE -->
            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"></legend>

                        <fieldset class="form-group border p-3">
                          <legend class="w-auto px-2 text-sm text-center"><strong class="text-bold">Choisir une activitee</strong></legend>
                        <div class="form-group">
                          <select class="selectpicker form-control" data-live-search="true" name="select-activite-titre" id="select-activite-titre">
                            <option class="text-center"><strong class="text-bold">----------- Veuillez selectionner une activite -------------</strong></option>
                            <optgroup label="Alphabétisation">
                              <option value="Réhabilitation de centres d’alpha" data-tokens="" >Réhabilitation de centres d’alpha</option>
                              <option value="Construction de centres d’alpha">Construction de centres d’alpha</option>
                              <option value="Ouverture de Centre d'alpha (alpha initial et alpha complémentaire)">Ouverture de Centre d'alpha (alpha initial et alpha complémentaire)</option>
                              <option value="Ouverture de Centre d'alpha en formations techniques spécifiques (FTS)">Ouverture de Centre d'alpha en formations techniques spécifiques (FTS)</option>
                              <option value="Primes d'encouragement pour l’alpha">Primes d'encouragement pour l’alpha</option>
                              <option value="Dotation spécifique des apprenants alpha en fourniture">Dotation spécifique des apprenants alpha en fourniture</option>
                              <option value="Distribution Equipements et Matériels d'alphabétisation">Distribution Equipements et Matériels d'alphabétisation</option>
                            </optgroup>

                            <optgroup label="Education">
                              <option value="Bâtiments d'écoles réhabilités">Bâtiments d'écoles réhabilités</option>
                            </optgroup>
                            <optgroup label="Santé/nutrition ">
                              <option value="Réhabilitation CSPS">Réhabilitation CSPS</option>
<option value="Construction bâtiment dispensaire">Construction bâtiment dispensaire</option>
<option value="Construction de Bâtiments de maternité">Construction de Bâtiments de maternité</option>
<option value="Construction Logements de santé">Construction Logements de santé</option>
<option value="Construction incinérateurs">Construction incinérateurs</option>
<option value="Construction Rampe d'accès pour personne handicapée">Construction Rampe d'accès pour personne handicapée</option>
<option value="Distribution Equipement et matériel de santé">Distribution Equipement et matériel de santé</option>
<option value="Distribution Kits de médicaments">Distribution Kits de médicaments</option>
<option value="Distribution Kit de produits thérapeutiques pour enfant">Distribution Kit de produits thérapeutiques pour enfant</option>
<option value="Dépistage de la malnutrition">Dépistage de la malnutrition</option>
<option value="Consultation en SMI">Consultation en SMI</option>
<option value="Construction Dépôt pharmaceutique">Construction Dépôt pharmaceutique</option>
<option value="Formations spécifiques au profit des acteurs de la santé">Formations spécifiques au profit des acteurs de la santé</option>
<option value="Formations spécifiques au profit des acteurs de la RBC">Formations spécifiques au profit des acteurs de la RBC</option>
<option value="Etudes en santé et nutrition">Etudes en santé et nutrition</option>
<option value="Appui à la mise en place des mutuelles communautaires de santé">Appui à la mise en place des mutuelles communautaires de santé</option>
                            </optgroup>
                            <optgroup label="Assainissement">
                              <option value="Construction douches familiales">Construction douches familiales</option>
<option value="Construction douches communautaires">Construction douches communautaires</option>
<option value="Construction latrines familiales">Construction latrines familiales</option>
<option value="Construction latrines communautaires">Construction latrines communautaires</option>
<option value="Construction latrines adaptées aux personnes handicapées">Construction latrines adaptées aux personnes handicapées</option>
<option value="Distribution Kit d'hygiène">Distribution Kit d'hygiène</option>
<option value="Distribution Matériels et équipement de collecte et de traitement des ordures et déchets">Distribution Matériels et équipement de collecte et de traitement des ordures et déchets</option>
<option value="Construction ou mise en place de Bacs à ordure">Construction ou mise en place de Bacs à ordure</option>
<option value="Mise en place Dispositif de collecte et de traitement des ordures et déchets (poubelles, ....)">Mise en place Dispositif de collecte et de traitement des ordures et déchets (poubelles, ....)</option>
<option value="Formation sur les thématiques spécifiques en assainissement">Formation sur les thématiques spécifiques en assainissement</option>
<option value="Implantation ou construction Autre infrastructure d'assainissement">Implantation ou construction Autre infrastructure d'assainissement</option>
                            </optgroup>
                            <optgroup label="Hydraulique/eau potable">
                              <option value="Réhabilitation APEPS">Réhabilitation APEPS</option>
<option value="Construction AEPS">Construction AEPS</option>
<option value="Réhabilitation forage">Réhabilitation forage</option>
<option value="Construction forage">Construction forage</option>
<option value="Réhabilitation poste d’eau autonome (PEA)">Réhabilitation poste d’eau autonome (PEA)</option>
<option value="Construction poste d’eau autonome (PEA)">Construction poste d’eau autonome (PEA)</option>
<option value="Réhabilitation puits">Réhabilitation puits</option>
<option value="Construction puits">Construction puits</option>

                            </optgroup>
                            <optgroup label="Art, culture et sport">
                              <option value="Organisation de Tournois de football">Organisation de Tournois de football</option>
<option value="Organisation Autre tournois de sport">Organisation Autre tournois de sport</option>
<option value="Organisation Nuit culturelle">Organisation Nuit culturelle</option>
<option value="Organisation Journée culturelle">Organisation Journée culturelle</option>
<option value="Journées de cohésion sociales (journées dicoésaines, journées transfrontalières, …)">Journées de cohésion sociales (journées dicoésaines, journées transfrontalières, …)</option>
<option value="Organisation Marchés communautaires lors des grandes cérémonies">Organisation Marchés communautaires lors des grandes cérémonies</option>
                            </optgroup>
                            <optgroup label="Réhabilitation à base communautaire (RBC)/ Consultation et soins">
                              <option value="Consultations oculaires, ORL, Physio et santé mentale">Consultations oculaires, ORL, Physio et santé mentale</option>
<option value="Soins médicaux assurés">Soins médicaux assurés</option>
<option value="Soins kyné assurés (rééducation fonctionnelle)">Soins kyné assurés (rééducation fonctionnelle)</option>
<option value="Soins chirurgicaux assurés">Soins chirurgicaux assurés</option>
<option value="Soins pour les malades psychosociaux">Soins pour les malades psychosociaux</option>
<option value="Appareillage">Appareillage</option>
                            </optgroup>
                            <optgroup label="Réhabilitation à base communautaire (RBC)/ Education préscolaire et primaire des personnes handicapées">
                              <option value="Identification des enfants handicapées">Identification des enfants handicapées</option>
<option value="Assistance en fourniture et frais de scolarité">Assistance en fourniture et frais de scolarité</option>
                            </optgroup>
                            <optgroup label="Réhabilitation à base communautaire (RBC)/ Moyens de subsistance pour personnes handicapées">
                              <option value="Développement des compétences (formations Orientation Mobilité, professionnelles et en atelier)">Développement des compétences (formations Orientation Mobilité, professionnelles et en atelier)</option>
<option value="Accès au crédit par les personnes handicapées (fonds de garantie)">Accès au crédit par les personnes handicapées (fonds de garantie)</option>
<option value="Appui financier aux personnes handicapées pour les AGR">Appui financier aux personnes handicapées pour les AGR</option>
                            </optgroup>
                            <optgroup label="Réhabilitation à base communautaire (RBC)/ Actions de formation, de sensibilisation et de plaidoyer">
                              <option value="Formations spécifiques en RBC des acteurs">Formations spécifiques en RBC des acteurs</option>
<option value="Voyages d'étude ou d'échange en RBC">Voyages d'étude ou d'échange en RBC</option>
<option value="Sensibilisation famille/communauté en RBC">Sensibilisation famille/communauté en RBC</option>
<option value="Appui aux OPH ou groupes d'entraide (organisation JIPH/JISM, Redynamisation)">Appui aux OPH ou groupes d'entraide (organisation JIPH/JISM, Redynamisation)</option>
<option value="Plaidoyer pour l'autonomisation, les droits, …des personnes handicapées">Plaidoyer pour l'autonomisation, les droits, …des personnes handicapées</option>
<option value="Appui aux activités récréatives (sport et loisir)">Appui aux activités récréatives (sport et loisir)</option>

                            </optgroup>
                            <optgroup label="Action sociale/urgence au profit des sinistrés et des personnes vulnérables">
                              <option value="Distribution de bois aux personnes sinistrées ou vulnérables">Distribution de bois aux personnes sinistrées ou vulnérables</option>
<option value="Distribution de charbon aux personnes sinistrées ou vulnérables">Distribution de charbon aux personnes sinistrées ou vulnérables</option>
<option value="Distribution de vivres aux personnes sinistrées ou vulnérables">Distribution de vivres aux personnes sinistrées ou vulnérables</option>
<option value="Distribution de kits d’habits aux personnes sinistrées ou vulnérables">Distribution de kits d’habits aux personnes sinistrées ou vulnérables</option>
<option value="Distribution de kits de cuisine aux personnes sinistrées ou vulnérables">Distribution de kits de cuisine aux personnes sinistrées ou vulnérables</option>
<option value="Distribution de cash transfert aux personnes sinistrées ou vulnérables">Distribution de cash transfert aux personnes sinistrées ou vulnérables</option>
<option value="Distribution de kits de ménage aux personnes sinistrées ou vulnérables">Distribution de kits de ménage aux personnes sinistrées ou vulnérables</option>
<option value="Distribution de kits de santé aux personnes sinistrées ou vulnérables">Distribution de kits de santé aux personnes sinistrées ou vulnérables</option>
<option value="Réalisation de Cash for Work au profit des personnes sinistrées ou vulnérables">Réalisation de Cash for Work au profit des personnes sinistrées ou vulnérables</option>
<option value="Construction ou mise en place de Centre d'éveil pour enfants">Construction ou mise en place de Centre d'éveil pour enfants</option>
<option value="Construction ou mise en place de Centre d'écoute pour jeunes et pour adultes">Construction ou mise en place de Centre d'écoute pour jeunes et pour adultes</option>
<option value="Construction ou mise en place de Centre d'accueil et de réinsertion pour les jeunes filles et les femmes">Construction ou mise en place de Centre d'accueil et de réinsertion pour les jeunes filles et les femmes</option>
<option value="Construction ou mise en place de Centre d'accueil et de réinsertion des malades mentaux">Construction ou mise en place de Centre d'accueil et de réinsertion des malades mentaux</option>
<option value="Construction d’Infrastructures au profit des personnes sinistrées ou vulnérables">Construction d’Infrastructures au profit des personnes sinistrées ou vulnérables</option>
<option value="Réinsertion des personnes sinistrées ou vulnérables">Réinsertion des personnes sinistrées ou vulnérables</option>
<option value="Reconstitution des moyens d'existence des personnes sinistrées">Reconstitution des moyens d'existence des personnes sinistrées</option>
<option value="Distribution de kit d'intrants de production aux personnes sinistrées">Distribution de kit d'intrants de production aux personnes sinistrées</option>
<option value="Distribution d’Equipement et matériel agro-sylvo-pastoral aux personnes sinistrées">Distribution d’Equipement et matériel agro-sylvo-pastoral aux personnes sinistrées</option>
<option value="Vente de vivres à prix social">Vente de vivres à prix social</option>
<option value="Organisation de la semaine Caritas">Organisation de la semaine Caritas</option>
<option value="Appui à la constitution des actes d’état civil">Appui à la constitution des actes d’état civil</option>
<option value="Organisation de la Foire humanitaire">Organisation de la Foire humanitaire</option>

                            </optgroup>
                            <optgroup label="Opérationnalisation de l’intégration systématique de la cohésion sociale dans les interventions de l’OCADES Caritas"></optgroup>
                            <optgroup label="Education des populations des zones d’intervention à la culture de la tolérance et du vivre ensemble">
                              <option value="Formation sur les thématiques spécifiques liées à la cohésion sociale et à la paix">Formation sur les thématiques spécifiques liées à la cohésion sociale et à la paix</option>
<option value="Sensibilisation sur les thématiques spécifiques liées à la cohésion sociale et à la paix">Sensibilisation sur les thématiques spécifiques liées à la cohésion sociale et à la paix</option>
<option value="Appui à la mise en place des comités de cohésion sociale et de paix">Appui à la mise en place des comités de cohésion sociale et de paix</option>
                            </optgroup>
                            <optgroup label="Secteurs de la gouvernance locale">
                              <option value="Voyage d’étude sur les thématiques spécifiques de bonne gouvernance">Voyage d’étude sur les thématiques spécifiques de bonne gouvernance</option>
<option value="Voyage d'étude ou d'échange d'expérience">Voyage d'étude ou d'échange d'expérience</option>
<option value="Etudes">Etudes</option>
<option value="Appui à la constitution des actes d’état civil">Appui à la constitution des actes d’état civil</option>
<option value="Formation sur les thématiques spécifiques liées à la fonctionnalité des OBC">Formation sur les thématiques spécifiques liées à la fonctionnalité des OBC</option>
<option value="Formation sur les thématiques spécifiques liées à la décentralisation et au développement local">Formation sur les thématiques spécifiques liées à la décentralisation et au développement local</option>
<option value="Sensibilisation sur les thématiques spécifiques liées à la fonctionnalité des OBC">Sensibilisation sur les thématiques spécifiques liées à la fonctionnalité des OBC</option>
<option value="Sensibilisation sur les thématiques spécifiques liées à la décentralisation et au développement local">Sensibilisation sur les thématiques spécifiques liées à la décentralisation et au développement local</option>
<option value="Mécanisme de gestion des plaintes (numéro vert, boite à idée…) mis en place">Mécanisme de gestion des plaintes (numéro vert, boite à idée…) mis en place</option>
<option value="Mécanismes de gestion des crises mis en place">Mécanismes de gestion des crises mis en place</option>
<option value="Appui à l'institutionnalisation des OBC">Appui à l'institutionnalisation des OBC</option>
<option value="Appui à la mise en conformité des OP avec les dispositions OHADA)">Appui à la mise en conformité des OP avec les dispositions OHADA</option>
<option value="Appui à la mise en réseau des OBC/OP">Appui à la mise en réseau des OBC/OP</option>
<option value="Appui à la mise en place des organes (comité ou commission spécialisés,…) spécifiques de gestion de la décentralisation">Appui à la mise en place des organes (comité ou commission spécialisés,…) spécifiques de gestion de la décentralisation</option>
<option value="Appui à la fonctionnalité des OBC/OSC">Appui à la fonctionnalité des OBC/OSC</option>
<option value="Appui à la fonctionnalité des OP">Appui à la fonctionnalité des OP</option>
<option value="Appui à la fonctionnalité des Comités et commissions spécifiques de la décentralisation">Appui à la fonctionnalité des Comités et commissions spécifiques de la décentralisation</option>
<option value="Appui à la tenue des cadres de concertation technique">Appui à la tenue des cadres de concertation technique</option>
                            </optgroup>
                            <optgroup label="Secteurs de la gouvernance institutionnelle">
                              <option value="Actions de communication sur les activités/actions du SED">Actions de communication sur les activités/actions du SED</option>
                            </optgroup>
                            <optgroup label="Agriculture">
                              <option value="Etudes agricoles">Etudes agricoles</option>
<option value="Voyage d'étude agricole">Voyage d'étude agricole</option>
<option value="Foire agricole">Foire agricole</option>
<option value="Système d'information sur les marchés">Système d'information sur les marchés</option>
<option value="Formation sur les techniques spécifiques agricoles">Formation sur les techniques spécifiques agricoles</option>
<option value="Bas-fonds aménagé">Bas-fonds aménagé</option>
<option value="Bas-fonds réhabilité">Bas-fonds réhabilité</option>
<option value="Banque de céréales construite">Banque de céréales construite</option>
<option value="Banque de céréales réhabilitée">Banque de céréales réhabilitée</option>
<option value="Magasin d'intrants">Magasin d'intrants</option>
<option value="Fonds de roulement pour banque de céréales">Fonds de roulement pour banque de céréales</option>
<option value="Cordon pierreux/Diguette anti érosive">Cordon pierreux/Diguette anti érosive</option>
<option value="V en pierres">V en pierres</option>
<option value="Bandes enherbées">Bandes enherbées</option>
<option value="Impulvium">Impulvium</option>
<option value="Demi-lune">Demi-lune</option>
<option value="Zaï">Zaï</option>
<option value="Fosse fumière">Fosse fumière</option>
<option value="Appui au compostage en tas">Appui au compostage en tas</option>
<option value="Champ école/parcelle de démonstration">Champ école/parcelle de démonstration</option>
<option value="Distribution équipements et matériel de production agricole">Distribution équipements et matériel de production agricole</option>
<option value="Distribution équipements et matériel de commercialisation de produits agricoles">Distribution équipements et matériel de commercialisation de produits agricoles</option>
<option value="Distribution équipements et matériel de transformation de produits agricoles">Distribution équipements et matériel de transformation de produits agricoles</option>
<option value="Infrastructure de commercialisation des produits agricoles">Infrastructure de commercialisation des produits agricoles</option>
<option value="Infrastructure de transformation des produits agricoles">Infrastructure de transformation des produits agricoles</option>
<option value="Distribution Intrant agricole">Distribution Intrant agricole</option>
<option value="Aménagement périmètres maraîchers">Aménagement périmètres maraîchers</option>
<option value="Matériels et équipements d'irrigation">Matériels et équipements d'irrigation</option>

                            </optgroup>
                            <optgroup label="Elevage">
                              <option value="Etudes élevage">Etudes élevage</option>
<option value="Voyage d'étude élevage">Voyage d'étude élevage</option>
<option value="Foire élevage">Foire élevage</option>
<option value="Formation sur les techniques spécifiques d'élevage">Formation sur les techniques spécifiques d'élevage</option>
<option value="Distribution Race améliorée">Distribution Race améliorée</option>
<option value="Distribution race locale">Distribution race locale</option>
<option value="Distribution Equipement et matériel d'élevage">Distribution Equipement et matériel d'élevage</option>
<option value="Distribution Equipement et matériel d'apiculture">Distribution Equipement et matériel d'apiculture</option>
<option value="Mise en place/appui unité de pisciculture">Mise en place/appui unité de pisciculture</option>
<option value="Mise en place/appui unité d'élevage non conventionnel (agoutis, caille, ...)">Mise en place/appui unité d'élevage non conventionnel (agoutis, caille, ...)</option>
<option value="Mise en place/appui Unité d'abattage ou de transformation de la viande">Mise en place/appui Unité d'abattage ou de transformation de la viande</option>
<option value="Equipement Vulgarisateurs volontaires de volaille">Equipement Vulgarisateurs volontaires de volaille</option>
<option value="Mise en place/réhabilitation de Piste à bétail">Mise en place/réhabilitation de Piste à bétail</option>
<option value="Mise en place/réhabilitation Zone de pâturage">Mise en place/réhabilitation Zone de pâturage</option>
<option value="Appui en embouche">Appui en embouche</option>
<option value="Appui en Elevage naisseur">Appui en Elevage naisseur</option>
<option value="Construction/réhabilitation de Poulailler amélioré">Construction/réhabilitation de Poulailler amélioré</option>
<option value="Construction de Bergerie et porcherie améliorées">Construction de Bergerie et porcherie améliorées</option>
<option value="Distribution d’Aliment SPAI">Distribution d’Aliment SPAI</option>
<option value="Distribution de Pierre à lécher">Distribution de Pierre à lécher</option>
<option value="Prophylaxie du cheptel">Prophylaxie du cheptel</option>
<option value="Construction/réhabilitation d’Infrastructure d’élevage (parc de vaccination, laiterie, marché de bétail, poste vétérinaire, air d'abattage, etc.)">Construction/réhabilitation d’Infrastructure d’élevage (parc de vaccination, laiterie, marché de bétail, poste vétérinaire, air d'abattage, etc.)</option>

                            </optgroup>
                            <optgroup label="Environnement">
                              <option value="Etudes environnement">Etudes environnement</option>
<option value="Voyage d'étude environnement">Voyage d'étude environnement</option>
<option value="Foire sur le PFNL">Foire sur le PFNL</option>
<option value="Formation sur les techniques spécifiques en environnement">Formation sur les techniques spécifiques en environnement</option>
<option value="Plantation d'arbre">Plantation d'arbre</option>
<option value="Mise en défens">Mise en défens</option>
<option value="Haie vive">Haie vive</option>
<option value="Régénération Naturelle Assistée (RNA)">Régénération Naturelle Assistée (RNA)</option>
<option value="Délimitation des Forêts villageoises">Délimitation des Forêts villageoises</option>
<option value="Bosquet villageois">Bosquet villageois</option>
<option value="Pépinière villageoise">Pépinière villageoise</option>
<option value="Protection des berges">Protection des berges</option>
<option value="Unité de collecte et traitement des ordures et déchets">Unité de collecte et traitement des ordures et déchets</option>
<option value="Appui à la lutte contre l'utilisation abusive des pesticides chimiques de synthèse">Appui à la lutte contre l'utilisation abusive des pesticides chimiques de synthèse</option>
<option value="Construction de Foyer amélioré biodégradable">Construction de Foyer amélioré biodégradable</option>
<option value="Distribution de Foyer amélioré métallique">Distribution de Foyer amélioré métallique</option>
<option value="Distribution de cuiseurs solaires">Distribution de cuiseurs solaires</option>
<option value="Construction de Fours solaires">Construction de Fours solaires</option>
<option value="Construction de cuiseurs solaires">Construction de cuiseurs solaires</option>
<option value="Education environnementale">Education environnementale</option>

                            </optgroup>
                            <optgroup label="Volet Hydraulique de production">
                              <option value="Etude dans le cadre de l'hydraulique de production">Etude dans le cadre de l'hydraulique de production</option>
<option value="Voyage d'étude">Voyage d'étude</option>
<option value="Réhabilitation Bouli">Réhabilitation Bouli</option>
<option value="Construction Bouli">Construction Bouli</option>
<option value="Réhabilitation Forage pastoral">Réhabilitation Forage pastoral</option>
<option value="Construction Forage pastoral">Construction Forage pastoral</option>
<option value="Réhabilitation Forage maraicher">Réhabilitation Forage maraicher</option>
<option value="Construction Forage maraicher">Construction Forage maraicher</option>
<option value="Construction Puits pastoral">Construction Puits pastoral</option>
<option value="Réhabilitation Puits pastoral">Réhabilitation Puits pastoral</option>
<option value="Construction Micro barrage (ou retenue d'eau)">Construction Micro barrage (ou retenue d'eau)</option>
<option value="Réhabilitation Micro barrage (ou retenue d'eau)">Réhabilitation Micro barrage (ou retenue d'eau)</option>
<option value="Réalisation Autre aménagement hydraulique">Réalisation Autre aménagement hydraulique</option>
<option value="Distribution de Matériel et outillage hydraulique">Distribution de Matériel et outillage hydraulique</option>

                            </optgroup>
                            <optgroup label="Services en énergie mécanique, en énergie électrique, et en énergie renouvelable">
                              <option value="Mini réseau électrique">Mini réseau électrique</option>
<option value="Biogaz cf biodigesteur">Biogaz cf biodigesteur</option>
<option value="Installation solaire">Installation solaire</option>
<option value="Lampe solaire distribué">Lampe solaire distribué</option>
<option value="Kit solaire distribué">Kit solaire distribué</option>
<option value="Energie Mécanique (Moulin ou PTFM)">Energie Mécanique (Moulin ou PTFM)</option>
<option value="Formations spécifiques sur l'énergie">Formations spécifiques sur l'énergie</option>
<option value="Etudes en énergie">Etudes en énergie</option>
<option value="Voyages d’études en énergie">Voyages d’études en énergie</option>

                            </optgroup>
                            <optgroup label="Services de crédit, subvention pour AGR, equipements et infrastructures">
                              <option value="Crédit petit commerce">Crédit petit commerce</option>
<option value="Crédit de stockage">Crédit de stockage</option>
<option value="Crédit maraichage">Crédit maraichage</option>
<option value="Crédit élevage">Crédit élevage</option>
<option value="Crédit agricole">Crédit agricole</option>
<option value="Crédit artisanat">Crédit artisanat</option>
<option value="Autre crédit">Autre crédit</option>
<option value="Subvention accordée pour les AGR">Subvention accordée pour les AGR</option>
<option value="Lignes de crédit mis à disposition des institutions de microfinance pour l'octroi de crédit à des personnes vulnérables">Lignes de crédit mis à disposition des institutions de microfinance pour l'octroi de crédit à des personnes vulnérables</option>
<option value="Ligne de garantie inscrite dans une institution de microfinance pour faciliter l'octroi de crédit à personnes vulnérables">Ligne de garantie inscrite dans une institution de microfinance pour faciliter l'octroi de crédit à personnes vulnérables</option>
<option value="Etudes">Etudes</option>
<option value="Voyages d’études">Voyages d’études</option>
<option value="Formations spécifiques dans le domaine de la micro finance ou des activités génératrices de revenus et du commerce">Formations spécifiques dans le domaine de la micro finance ou des activités génératrices de revenus et du commerce</option>
<option value="Appui à la mise en relation des OP avec les Institutions de Micro finance">Appui à la mise en relation des OP avec les Institutions de Micro finance</option>
<option value="Matériels et Equipements pour les structures de Microfinance distribué">Matériels et Equipements pour les structures de Microfinance distribué</option>
<option value="Infrastructures pour micro finance réalisées ou réhabilitées">Infrastructures pour micro finance réalisées ou réhabilitées</option>
<option value="Appui à la mise en place d'unités économiques pour la commercialisation, la transformation des produits locaux">Appui à la mise en place d'unités économiques pour la commercialisation, la transformation des produits locaux</option>
<option value="Infrastructures pour AGR réalisées ou réhabilitées">Infrastructures pour AGR réalisées ou réhabilitées</option>
<option value="Infrastructures pour commerce réalisées ou réhabilitées">Infrastructures pour commerce réalisées ou réhabilitées</option>
<option value="Appui à la mise en place des groupes CECI, SILC, VSL, MUSO, …)">Appui à la mise en place des groupes CECI, SILC, VSL, MUSO, …)</option>
<option value="Appui à mise en place des systèmes d'information des marchés (SIM)">Appui à mise en place des systèmes d'information des marchés (SIM)</option>

                            </optgroup>
                          </select>
                        </div>
                      </fieldset>

                      <div class="form-group">
                        <label for="commune">Commune</label>
                        <input type="text" class="form-control" id="commune" placeholder="" name="commune" />
                    </div>

                    <div class="form-group">
                        <label for="province">Province</label>
                        <input type="text" class="form-control" id="province" placeholder="" name="province" />
                    </div>

                    <div class="form-group">
                        <label for="region">Région</label>
                        <input type="text" class="form-control" id="region" placeholder="" name="region" />
                    </div>

                    <div class="form-group">
                        <label for="paroisse">Paroisse</label>
                        <input type="text" class="form-control" id="paroisse" placeholder="" name="paroisse" />
                    </div>

                        <div class="form-group">
                          <label for="unite">Unité physique</label>
                          <input type="text" class="form-control username" id="unite" placeholder="" name="unite" />
                        </div>

                        <div class="form-group">
                          <label for="quantite">Quantité réalisé</label>
                          <input type="number" min="0" class="form-control" id="quantite" placeholder="" name="quantite" />
                      </div>

                      <div class="form-group">
                        <label for="periode">Période de réalisation</label>
                        <div class="form-group mb-3">
                          <label for="periode_debut">Date de début de l'activité</label>
                          <input type="date" class="form-control" placeholder="Debut" name="periode_debut" /><br>
                          <label for="periode_fin">Date de fin de l'activité</label>
                          <input type="date" class="form-control" placeholder="Fin" name="periode_fin" />
                        </div>     
                    </div>

                    <div class="form-group">
                      <label for="responsable">Responsable d’exécution (projet ou service)</label>
                      <input type="text" class="form-control" id="responsable" placeholder="" name="responsable" />
                  </div>

                  <div class="form-group">
                    <label for="cout_realisation">Coût total de réalisation</label>
                    <input type="number" min="0" class="form-control" id="cout_realisation" placeholder="" name="cout_realisation" />
                </div>

                <div class="form-group">
                  <label for="contrib_benef">Contribution des bénéficiaires</label>
                  <input type="number" min="0" class="form-control" id="contrib_benef" placeholder="" name="contrib_benef" />
              </div>

              <div class="form-group">
                <label for="contrib_part">Contribution des partenaires</label>
                <input type="number" min="0" class="form-control" id="contrib_part" placeholder="" name="contrib_part" />
            </div>

                  <div class="form-group">
                    <label for="part_burkina">Part Etat Burkina Faso</label>
                    <input type="number" min="0" class="form-control" id="part_burkina" placeholder="" name="part_burkina" />
                </div>

                <div id="partenaires-container">
                    <div class="form-group">
                      <label for="partners">Partenaires financiers</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nom du partenaire" name="nom_partenaire[]" />
                        <input type="number" min="0" class="form-control" placeholder="Part du partenaire" name="part_partenaire[]" />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="btn-add-partenaire">+</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="form-group">
                    <label for="total_benef">Nombre total de bénéficiaires directs</label>
                    <input type="number" min="0" class="form-control" id="total_benef" placeholder="" name="total_benef" />
                </div>
                  <div class="form-group">
                    <label for="nbre_ben_homme">Nombre de bénéficiaires directs hommes</label>
                    <input type="number" min="0" class="form-control" id="nbre_ben_homme" placeholder="" name="nbre_ben_homme" />
                </div>
                <div class="form-group">
                  <label for="nbre_ben_femme">Nombre de bénéficiaires directes femmes</label>
                  <input type="number" min="0" class="form-control" id="nbre_ben_femme" placeholder="" name="nbre_ben_femme" />
              </div>

                    </fieldset>
                </div>
            </div>
            

            <!-- Suivant / Retour -->
            <div class="form-footer d-flex">
              <button type="button" id="prevBtn" onclick="nextPrev(-1)">
                Retour
              </button>
              <button type="button" id="nextBtn" onclick="nextPrev(1)">
                Suivant
              </button>
            </div>
            <!-- Fin de Suivant / Retour -->
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endblock mainContent %}
</div>

{% block js %}
<script>
  function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth' // Permet un défilement fluide
    });
}

  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  function showTab(n) {
    // This function will display the specified tab of the form...
    var x = document.getElementsByClassName("step");
    x[n].style.display = "block";
    //... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == x.length - 1) {
      document.getElementById("nextBtn").innerHTML = "Enregistrer";
    } else {
      document.getElementById("nextBtn").innerHTML = "Suivant";
    }
    //... and run a function that will display the correct step indicator:
    fixStepIndicator(n);
  }

  function nextPrev(n) {
    // Cette fonction déterminera quelle étape afficher
    var x = document.getElementsByClassName("step");
    // Quitte la fonction si un champ du tab actuel est invalide :
    if (n == 1 && !validateForm()) return false;
    // Masque l'onglet actuel :
    x[currentTab].style.display = "none";
    // Augmente ou diminue l'onglet actuel de 1 :
    currentTab = currentTab + n;
    // Si vous avez atteint la fin du formulaire...
    if (currentTab >= x.length) {
        // ... le formulaire est soumis :
        document.getElementById("signUpForm").submit();
        return false;
    }
    // Sinon, affiche le bon onglet :
    showTab(currentTab);
    // Fait défiler la page vers le haut du formulaire :
    scrollToTop();
}

  function validateForm() {
    // This function deals with validation of the form fields
    var x,
      y,
      i,
      valid = true;
    x = document.getElementsByClassName("step");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
        // add an "invalid" class to the field:
        y[i].classList.remove('invalid');
        // and set the current valid status to false
    }
    // If the valid status is true, mark the step as finished and valid:
    document.getElementsByClassName("stepIndicator")[currentTab].classList.add("finish");
    return true; // return the valid status
  }

  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i,
      x = document.getElementsByClassName("stepIndicator");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class on the current step:
    x[n].className += " active";
  }

  document.addEventListener('DOMContentLoaded', function() {
    var selectType = document.getElementById('selectType');
    var formFields = document.querySelectorAll('.form-fields');

    selectType.addEventListener('change', function() {
        var selectedOption = selectType.value;
        formFields.forEach(function(field) {
            if (field.id === selectedOption) {
                field.style.display = 'block';
            } else {
                field.style.display = 'none';
            }
        });
    });

    // Afficher par défaut les champs de Ministères au chargement de la page
    formFields.forEach(function(field) {
        if (field.id === 'ministeres') {
            field.style.display = 'block';
        } else {
            field.style.display = 'none';
        }
    });
});

$(function () {
    $('select').selectpicker();
});

// Ajouter des partenaires financiers
document.getElementById("btn-add-partenaire").addEventListener("click", function(event) {
    event.preventDefault();
  
    var partenairesContainer = document.getElementById("partenaires-container");
    var newPartenaire = document.createElement("div");
    newPartenaire.className = "form-group";
    newPartenaire.innerHTML = `
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nom du partenaire" name="nom_partenaire[]" />
            <input type="number" min="0" class="form-control" placeholder="Part du partenaire" name="part_partenaire[]" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-remove-partenaire" type="button">-</button>
            </div>
        </div>
    `;
    partenairesContainer.appendChild(newPartenaire);
  });
  
  // Ajouter un gestionnaire d'événements pour supprimer un partenaire lorsque le bouton "-" est cliqué
  document.getElementById("partenaires-container").addEventListener("click", function(event) {
    if (event.target.classList.contains("btn-remove-partenaire")) {
        event.target.closest(".form-group").remove();
    }
  });

</script>
<script src="{% static 'js/form.js' %}"></script>
<script scr="{% static 'js/select_form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock js %}
