{% extends "base.html" %}{% load static %}
<div class="wrapper">
  {% block header %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Ajoutez informations generales</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Acceuil</li>
            <li class="breadcrumb-item"><a href="#">enregistrement</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  {% endblock header %} {% block mainContent %}
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="card-body p-0">
          <h5 id="formHelp" class="form-text text-muted text-center">
            Veuillez remplir tout les champs avant de cliquer sur "suivant"
          </h5>
          <form id="signUpForm" action="{% url "ajouter_general" projet_id=projet.id %}" method="POST">
            {% csrf_token %}
            <!-- start step indicators -->
            <h4 class="form-text text-muted text-center">INFORMATIONS GÉNÉRALES</h4>

            <div class="form-header d-flex mb-4">
              <span class="stepIndicator">1</span>
              <span class="stepIndicator">2</span>
              <span class="stepIndicator">3</span>
              <span class="stepIndicator">4</span>
              <span class="stepIndicator">5</span>
              <span class="stepIndicator">6</span>
              <span class="stepIndicator">7</span>
              <span class="stepIndicator">8</span>
              <span class="stepIndicator">9</span>
              <span class="stepIndicator">10</span>
              <span class="stepIndicator">11</span>
            </div>
            <!-- end step indicators -->
            <!-- Fin de Suivant / Retour -->

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Information sur l'organisation</strong></legend>
                        <div class="form-group">
                            <label for="nom_org">Nom de l'organisation</label>
                            <input type="text" class="form-control" id="nom_org" placeholder="" name="nom_org" value="">
                        </div>
                        <div class="form-group">
                          <label for="nature_org">Nature de l'organisation</label>
                          <select class="form-control" id="nature_org" name="nature_org">
                            <option value="ONG">ONG</option>
                            <option value="Association">Association</option>
                            <option value="Association">Fondation</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="sigle">Sigle</label>
                          <input type="text" class="form-control" id="sigle" placeholder="" name="sigle" value="">
                      </div>
                      <div class="form-group">
                          <label for="pays_ori">Pays d'Origine</label>
                          <input type="text" class="form-control" id="pays_ori" placeholder="" name="pays_ori" value="">
                      </div>
                    </fieldset>

                </div>

            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Adresses du siege de l'organisation</strong></legend>
                        <div class="form-group">
                            <label for="region">Région</label>
                            <input type="text" class="form-control" id="region" placeholder="" name="region" value="">
                        </div>
                        <div class="form-group">
                          <label for="province">Province</label>
                          <input type="text" class="form-control" id="province" placeholder="" name="province" value="">
                      </div>
                      <div class="form-group">
                        <label for="commune">Commune</label>
                        <input type="text" class="form-control" id="commune" placeholder="" name="commune" value="">
                    </div>
                    <div class="form-group">
                      <label for="village">Village</label>
                      <input type="text" class="form-control" id="village" placeholder="" name="village" value="">
                  </div>
                  <div class="form-group">
                    <label for="boite_postale">Boîte Postale</label>
                    <input type="text" class="form-control" id="boite_postale" placeholder="" name="boite_postale" value="">
                </div>
                <div class="form-group">
                  <label for="ong_fixe">Numéro de téléphone fixe</label>
                  <input type="text" class="form-control" id="ong_fixe" placeholder="" name="ong_fixe" value="">
              </div>
              <div class="form-group">
                <label for="ong_mobile">Numéro de téléphone mobile</label>
                <input type="text" class="form-control" id="ong_mobile" placeholder="" name="ong_mobile" value="">
            </div>
            <div class="form-group">
              <label for="ong_email_pro">Adresse mail professionnelle</label>
              <input type="text" class="form-control" id="ong_email_pro" placeholder="" name="ong_email_pro" value="">
          </div>
          <div class="form-group">
            <label for="site_web">Site Web</label>
            <input type="text" class="form-control" id="site_web" placeholder="" name="site_web" value="">
        </div>
                    </fieldset>

                </div>

            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Responsable de l'organisation</strong></legend>
                        <div class="form-group">
                            <label for="resp_nom">Nom et Prénom(s)</label>
                            <input type="text" class="form-control" id="resp_nom" placeholder="" name="resp_nom" value="">
                        </div>
                        <div class="form-group">
                          <label for="resp_nationalite">Nationalité</label>
                          <input type="text" class="form-control" id="resp_nationalite" placeholder="" name="resp_nationalite" value="">
                      </div>
                      <div class="form-group">
                        <label for="resp_fonction">Fonction</label>
                        <input type="text" class="form-control" id="resp_fonction" placeholder="" name="resp_fonction" value="">
                    </div>
                    <div class="form-group">
                      <label for="resp_fixe">Numéro fixe</label>
                      <input type="text" class="form-control" id="resp_fixe" placeholder="" name="resp_fixe" value="">
                  </div>
                  <div class="form-group">
                    <label for="resp_mobile">Numéro mobile</label>
                    <input type="text" class="form-control" id="resp_mobile" placeholder="" name="resp_mobile" value="">
                </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Gouvernance interne de l'association : Tenue des rencontres statuaires des instances de l'organisation</strong></legend>
                        <div>
                            <div class="form-group">
                              <label for="date1">N° 1 - Dernier renouvèlement des Instances dirigeantes</label>
                              <input type="date" id="date1" name="date1" placeholder="Entrez la date">
                            </div>
                            <div>
                              <label for="date2">N° 2 - Dernière Assemblée Générale Ordinaire</label>
                              <input type="date" id="date2" name="date2">
                            </div>
                            <div>
                              <label for="date3">N° 3 - Dernière session statutaire du bureau exécutif</label>
                              <input type="date" id="date3" name="date3">
                            </div>
                            <div>
                              <label for="date4">N° 4 - Durée du mandat du bureau exécutif</label>
                              <input type="number" id="date4" name="date4">
                            </div>
                          </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Repondant pour le canevas de collecte</strong></legend>
                        <div class="form-group">
                            <label for="repondant_nom">Nom et Prénom(s) du répondant</label>
                            <input type="text" class="form-control" id="repondant_nom" placeholder="" name="repondant_nom" value="">
                        </div>
                        <div class="form-group">
                          <label for="repondant_fixe">Numéro fixe du répondant</label>
                          <input type="text" class="form-control" id="repondant_fixe" placeholder="" name="repondant_fixe" value="">
                      </div>
                      <div class="form-group">
                        <label for="repondant_mobile">Numéro mobile du répondant</label>
                        <input type="text" class="form-control" id="repondant_mobile" placeholder="" name="repondant_mobile" value="">
                    </div>
                    <div class="form-group">
                      <label for="repondant_adresse">Adresse mail du répondant</label>
                      <input type="text" class="form-control" id="repondant_adresse" placeholder="" name="repondant_adresse" value="">
                  </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Objectifs principaux de l'organisation</strong></legend>
                        <div class="form-group">
                          <label for="objectifs">Objectifs</label>
                          <div id="objectifsContainer">
                              <div class="input-group mb-3">  
                                  <input type="text" class="form-control" placeholder="" name="objectifs[]">
                                  <div class="input-group-append">
                                      <button class="btn btn-outline-secondary add-objectif-btn" type="button">+</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Groupes cibles specifique (Cocher les cases correspondante)</strong></legend>
                        <div class="form-check form-check-block">
                            <input type="checkbox" class="form-check-input" id="Femmes" placeholder="" name="groupe_check[]" value="Femmes">
                            <label for="Femmes" class="form-check-label">Femmes</label><br/>
                        </div>
                        <div class="form-check form-check-block">
                          <input type="checkbox" class="form-check-input" id="Enfants/Nourrissons" placeholder="" name="groupe_check[]" value="Enfants/Nourrissons">
                          <label for="Enfants/Nourrissons" class="form-check-label">Enfants/Nourrissons</label>    
                      </div>
                      <div class="form-check form-check-block">
                        <input type="checkbox" class="form-check-input" id="Elèves/Etudiants/Apprenants" placeholder="" name="groupe_check[]" value="Elèves/Etudiants/Apprenants">
                        <label for="Elèves/Etudiants/Apprenants" class="form-check-label">Elèves/Etudiants</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="OEV" placeholder="" name="groupe_check[]" value="OEV">
                      <label for="OEV" class="form-check-label">OEV</label>     
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="Personnes en situation de handicap" placeholder="" name="groupe_check" value="Personnes en situation de handicap">
                      <label for="Personnes en situation de handicap" class="form-check-label">Personnes en handicap</label> 
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="Réfugiés" placeholder="" name="groupe_check[]" value="Réfugiés">
                      <label for="Réfugiés" class="form-check-label">Réfugiés</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="Veuves/veufs" placeholder="" name="groupe_check[]" value="Veuves/veufs">
                      <label for="Veuves/veufs" class="form-check-label">Veuves/veufs</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="PH/VIH" placeholder="" name="groupe_check[]" value="PH/VIH">
                      <label for="PH/VIH" class="form-check-label">PH/VIH</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="Producteurs" placeholder="" name="groupe_check[]" value="Producteurs">
                      <label for="Producteurs" class="form-check-label">Producteurs</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="Organisation paysanne" placeholder="" name="groupe_check[]" value="Organisation paysanne">
                      <label for="Organisation paysanne" class="form-check-label">Organisation paysanne</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="OSC" placeholder="" name="groupe_check[]" value="OSC">
                      <label for="OSC" class="form-check-label">OSC</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="Acteurs communaux" placeholder="" name="groupe_check[]" value="Acteurs communaux">
                      <label for="Acteurs communaux" class="form-check-label">Acteurs communaux</label>
                      </div>
                      <div class="form-check form-check-block">
                      <input type="checkbox" class="form-check-input" id="PDI" placeholder="" name="groupe_check[]" value="PDI">
                      <label for="PDI" class="form-check-label">PDI</label>
                      </div><br>
                        <div class="form-group">
                        <label for="autre_groupe">Autre a preciser</label>
                        <input type="text" class="form-control" id="autre_groupe" placeholder="" name="autre_groupe" value="">
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Personnel employe</strong></legend>
                        <div class="form-group">
                            <h5 class="text-black text-center"><small>Employés nationaux Contrat à Durée Indéterminée (CDI)</small></h5>
                            <label for="em_nation_cdi_homme">Homme</label>
                            <input type="number" min="0" class="form-control" id="em_nation_cdi_homme" placeholder="" name="em_nation_cdi_homme" value="">
                            <label for="em_nation_cdi_femme">Femme</label>
                            <input type="number" min="0" class="form-control" id="em_nation_cdi_femme" placeholder="" name="em_nation_cdi_femme" value="">
                        </div>
                        <div class="form-group">
                          <h5 class="text-black text-center"><small>Employés nationaux Contrat à Durée déterminée (CDD)</small></h5>
                          <label for="em_nation_cdd_homme">Homme</label>
                            <input type="number" min="0" class="form-control" id="em_nation_cdd_homme" placeholder="" name="em_nation_cdd_homme" value="">
                            <label for="em_nation_cdd_femme">Femme</label>
                            <input type="number" min="0" class="form-control" id="em_nation_cdd_femme" placeholder="" name="em_nation_cdd_femme" value="">
                      </div>
                      <div class="form-group">
                        <h5 class="text-black text-center"><small>Employés expatriés Contrat à Durée Indéterminée (CDI)</small></h5>
                        <label for="em_expa_cdi_homme">Homme</label>
                          <input type="number" min="0" class="form-control" id="em_expa_cdi_homme" placeholder="" name="em_expa_cdi_homme" value="">
                          <label for="em_expa_cdi_femme">Femme</label>
                          <input type="number" min="0" class="form-control" id="em_expa_cdi_femme" placeholder="" name="em_expa_cdi_femme" value="">
                    </div>
                    <div class="form-group">
                      <h5 class="text-black text-center"><small>Employés expatriés Contrat à Durée déterminée (CDD)</small></h5>
                      <label for="em_expa_cdd_homme">Homme</label>
                        <input type="number" min="0" class="form-control" id="em_expa_cdd_homme" placeholder="" name="em_expa_cdd_homme" value="">
                        <label for="em_expa_cdd_femme">Femme</label>
                        <input type="number" min="0" class="form-control" id="em_expa_cdd_femme" placeholder="" name="em_expa_cdd_femme" value="">
                  </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Bénévoles ou volontaires</strong></legend>
                        <div class="form-group">
                            <h5 class="text-black text-center"><small>Bénévoles ou volontaires Nationaux</small></h5>
                            <label for="benevol_nation_homme">Homme</label>
                              <input type="number" min="0" class="form-control" id="benevol_nation_homme" placeholder="" name="benevol_nation_homme" value="">
                              <label for="benevol_nation_femme">Femme</label>
                              <input type="number" min="0" class="form-control" id="benevol_nation_femme" placeholder="" name="benevol_nation_femme" value="">
                          </div>
                          <div class="form-group">
                            <h5 class="text-black text-center"><small>Bénévoles ou volontaires Expatriés</small></h5>
                            <label for="benevol_expa_homme">Homme</label>
                              <input type="number" min="0" class="form-control" id="benevol_expa_homme" placeholder="" name="benevol_expa_homme" value="">
                              <label for="benevol_expa_femme">Femme</label>
                              <input type="number" min="0" class="form-control" id="benevol_expa_femme" placeholder="" name="benevol_expa_femme" value="">
                          </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
                <div class="mb-3">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2 text-sm text-center"><strong>Personnel de l'Administration publique en détachement</strong></legend>
                        <div class="form-group">
                            <label for="personnel_admin_homme">Homme</label>
                              <input type="number" min="0" class="form-control" id="personnel_admin_homme" placeholder="" name="personnel_admin_homme" value="">
                              <label for="personnel_admin_femme">Femme</label>
                              <input type="number" min="0" class="form-control" id="personnel_admin_femme" placeholder="" name="personnel_admin_femme" value="">
                          </div>
                    </fieldset>
                </div>
            </div>

            <div class="step">
              <div class="mb-3">
                <fieldset class="form-group border p-3">
                    <legend class="w-auto px-2 text-sm text-center"><strong>Partenariats / collaborations</strong></legend>
                    <div class="form-group">
                      <div id="partenariatContainer">
                          <div class="form-group partenariat">
                              <label for="partenariat">Nom du partenariat</label>
                              <input type="text" class="form-control" placeholder="" name="partenariat[]" />
                              <label for="number_part">N° de convention de partenaire / protocole d'entente</label>
                              <input type="text" class="form-control" placeholder="" name="number_part[]" />
                              <label for="date_debut_part">Date de debut d'effet</label>
                              <input type="date" class="form-control" placeholder="" name="date_debut_part[]" />
                              <label for="date_fin_part">Date de fin d'effet</label>
                              <input type="date" class="form-control" placeholder="" name="date_fin_part[]" />
                              <div class="input-group-append">
                                  <button class="btn btn-primary add-partenariat-btn" type="button">Ajouter</button>
                              </div>
                          </div>
                      </div>
                  </div>
                </fieldset>
            </div>
            </div>

            <!-- Suivant / Retour -->
            <div class="form-footer d-flex">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">
                  Retour
                </button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">
                  Suivant
                </button>
              </div>
              <!-- Fin de Suivant / Retour -->

          </form> 
        </div>
      </div>
    </div>
  </section>
  {% endblock mainContent %}
</div>

{% block js %}
<script>
  function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth' // Permet un défilement fluide
    });
}

  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  function showTab(n) {
    // This function will display the specified tab of the form...
    var x = document.getElementsByClassName("step");
    x[n].style.display = "block";
    //... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == x.length - 1) {
      document.getElementById("nextBtn").innerHTML = "Enregistrer";
    } else {
      document.getElementById("nextBtn").innerHTML = "Suivant";
    }
    //... and run a function that will display the correct step indicator:
    fixStepIndicator(n);
  }

  function nextPrev(n) {
    // Cette fonction déterminera quelle étape afficher
    var x = document.getElementsByClassName("step");
    // Quitte la fonction si un champ du tab actuel est invalide :
    if (n == 1 && !validateForm()) return false;
    // Masque l'onglet actuel :
    x[currentTab].style.display = "none";
    // Augmente ou diminue l'onglet actuel de 1 :
    currentTab = currentTab + n;
    // Si vous avez atteint la fin du formulaire...
    if (currentTab >= x.length) {
        // ... le formulaire est soumis :
        document.getElementById("signUpForm").submit();
        return false;
    }
    // Sinon, affiche le bon onglet :
    showTab(currentTab);
    // Fait défiler la page vers le haut du formulaire :
    scrollToTop();
}

  function validateForm() {
    // This function deals with validation of the form fields
    var x,
      y,
      i,
      valid = true;
    x = document.getElementsByClassName("step");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
        // add an "invalid" class to the field:
        y[i].classList.remove('invalid');
        // and set the current valid status to false
    }
    // If the valid status is true, mark the step as finished and valid:
    document.getElementsByClassName("stepIndicator")[currentTab].classList.add("finish");
    return true; // return the valid status
  }

  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i,
      x = document.getElementsByClassName("stepIndicator");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class on the current step:
    x[n].className += " active";
  }

// Ajouter les objectifs
function addObjectifs() {
  var inputGroup = document.createElement('div');
  inputGroup.className = 'input-group mb-3';
  inputGroup.innerHTML = `
      <input type="text" class="form-control" placeholder="" name="objectifs[]">
      <div class="input-group-append">
          <button class="btn btn-outline-secondary remove-objectif-btn" type="button">-</button>
      </div>
  `;
  document.getElementById("objectifsContainer").appendChild(inputGroup);
}

document.addEventListener('click', function(event) {
  if (event.target && event.target.classList.contains('add-objectif-btn')) {
      addObjectifs();
  }
});

document.addEventListener('click', function(event) {
  if (event.target && event.target.classList.contains('remove-objectif-btn')) {
      event.target.parentElement.parentElement.remove();
  }
});


// Ajouter des Partenariats
function addPartenariats() {
  var inputGroup = document.createElement('div');
  inputGroup.className = 'form-group partenariat';
  inputGroup.innerHTML = `
  <label for="partenariat">Nom du partenariat / Collaborateur</label>
  <input type="text" class="form-control" placeholder="" name="partenariat[]" />
  <label for="number_part">Numero de convention / protocole d'entente</label>
  <input type="text" class="form-control" placeholder="" name="number_part[]" />
  <label for="date_debut_part">Date de debut d'effet</label>
  <input type="date" class="form-control" placeholder="" name="date_debut_part[]" />
  <label for="date_fin_part">Date de fin d'effet</label>
  <input type="date" class="form-control" placeholder="" name="date_fin_part[]" />
      <div class="input-group-append">
          <button class="btn btn-danger remove-partenariat-btn" type="button">Retirer</button>
      </div>
  `;
  document.getElementById("partenariatContainer").appendChild(inputGroup);
}

document.addEventListener('click', function(event) {
  if (event.target && event.target.classList.contains('add-partenariat-btn')) {
    addPartenariats();
  }
});

document.addEventListener('click', function(event) {
  if (event.target && event.target.classList.contains('remove-partenariat-btn')) {
      event.target.parentElement.parentElement.remove();
  }
});

</script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock js %}
