{% extends "base.html" %}{% load static %}

<div class="wrapper">
  {% block header %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"></h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Acceuil</li>
            <li class="breadcrumb-item"><a href="#">synthèse</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  {% endblock header %} {% block mainContent %}
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-white">
              <h5 class="text-center mb-0">
                <strong>SYNTHÈSE GLOBALE PLANIFICATION</strong>
              </h5>
              
              
              <div class="btn-group btn-group-sm" role="group">
                <form action="{% url "generate_pdf_planification" %}" method="POST">
                  {% csrf_token %}
                <button type="submit" class="btn btn-light btn-pdf" id="exportPdf">
                  <i class="fas fa-file-pdf"></i> PDF
                </button>
              </form>
              <form action="{% url "generate_word_planification" %}" method='POST'>
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-word" id="exportWord">
                  <i class="fas fa-file-word"></i> Word
                </button>
              </form>
              <form action="{% url "generate_excel_planification" %}" method='POST'>
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-excel" id="exportExcel">
                  <i class="fas fa-file-excel"></i> Excel
                </button>
              </form>
              </div>
              <style>
                .btn-pdf:hover {
                  background-color: #dc3545;
                  color: #fff;
                }
              
                .btn-word:hover {
                  background-color: #007bff;
                  color: #fff;
                }
              
                .btn-excel:hover {
                  background-color: #28a745;
                  color: #fff;
                }
                @media print {
                  body {
                    font-size: 10pt;
                    margin: 20px;
                  }
                }
              </style>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-bordered mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Titre</th>
                      <th>Unité physique</th>
                      <th>Quantité prévue</th>
                      <th>Période prévue</th>
                      <th>Responsable d'exécution</th>
                      <th>Budget total prévue (FCFA)</th>
                      <th>Part Etat Burkina Faso (FCFA)</th>
                      <th>Partenaires financiers</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for activite in activites_groupees %}
                    <tr>
                      <td><strong>{{ activite.titre }}</strong></td>
                      <td><strong>{{ activite.unite_physique }}</strong></td>
                      <td><strong>{{ activite.quantite_prevue }}</strong></td>
                      <td><strong>{{ activite.periode_prevue_debut }} - {{ activite.periode_prevue_fin }}<strong></td>
                      <td><strong>{{ activite.responsable }}</strong></td>
                      <td><strong>{{ activite.budget_total }}</strong></td>
                      <td><strong>{{ activite.part_burkina }}</strong></td>
                      <td>
                        <div class="table-responsive">
                          <table class="table table-bordered mb-0">
                            <thead class="thead-light">
                              <tr>
                                <th>Nom du partenaire</th>                        
                                  <th>Part du partenaire</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for partenaire in activite.partenaires %}
                              <tr>
                                <td><strong>{{ partenaire.nom }}</strong></td>
                                <td><strong>{{ partenaire.part }}</strong></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock mainContent %}
</div>

{% block js %}
<script></script>
{% endblock js %}
