{% extends "base.html" %}{% load static %}


<div class="wrapper">
    {% block header %}
    <div class="content-header">
        <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Acceuil</li>
            <li class="breadcrumb-item"><a href="#">activité</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
    {% endblock header %}

    {% block mainContent %}
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card-body p-0">

                      <div class="container">
                        <div class="row">
                          <div class="col-md-6 offset-md-3">
                            <div class="card">
                              <input type="hidden" name="activite_id" value="{{ activite.id }}">
                              <div class="card-header bg-light"> <!-- Utilisez la classe bg-light pour un fond de carte clair -->
                                <h5 class="card-title text-center mb-0"> <strong>{{ activite.titre }}</strong> </h5> <!-- Centrez le titre et ajoutez une marge inférieure -->
                              </div>
                              <div class="card-body">
                                <p class="form-control">Unité physique: <strong>{{ activite.unite_physique }}</strong></p>
                                <p class="form-control">Quantité prévue: <strong>{{ activite.quantite_prevue }}</strong> </p>
                                <p class="form-control">Période prévue début : <strong>{{ activite.periode_prevue_debut }}</strong> </p>
                                <p class="form-control">Période prévue fin : <strong>{{ activite.periode_prevue_fin }}</strong> </p>
                                <p class="form-control">Responsable d’exécution: <strong>{{ activite.responsable }}</strong> </p>
                                <p class="form-control">Budget total prévu: <strong>{{ activite.budget_total }} FCFA </strong> </p>
                                <p class="form-control">Part Etat Burkina Faso: <strong>{{ activite.part_burkina }} FCFA </strong> </p>
                                <p class="form-control text-center"><strong>Partenaires financiers</strong></p>
                                <table class="table text-center"> <!-- Ajoutez la classe mx-auto pour centrer le tableau -->
                                    <thead>
                                        <tr>
                                            <th scope="col">Nom du partenaire</th>
                                            <th scope="col">Part du partenaire</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for partenaire in partenaires %}
                                        <tr>
                                            <td>{{ partenaire.nom }}</td>
                                            <td>{{ partenaire.part }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                        
            
                    </div>

                </div>
            </div>
        </section>
    {% endblock mainContent %}

</div>

{% block js %}
<script></script>
{% endblock js %}
